<div class="card">
    <div class="card-body ms-3">
        <h5 class="card-title bg-primary text-light p-3">Log in</h5>

        <form class='form login-form'>
            <div class="mb-3">
                <label for="login-userName" class="form-label">Username</label>
                <input type="text" class="form-control" id="login-userName" required>
            </div>

            <div class="mb-3">
                <label for="login-password" class="form-label">Password</label>
                <input type="password" class="form-control" id="login-password" required>
            </div>

            <div>
                <p>Don't have an account. <a href="/signup">Sign Up</a></p>
                <button type="submit" class="btn btn-primary" id='loginBtn'>Submit</button>
            </div>
            
        </form>
    </div>
</div>

<script src="/js/login.js"></script>
