header, .project:not(:last-child) {
  border-bottom: 1px solid #ccc;
}

.no-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: #1b89bc;
  text-decoration: none;
  font-size: 100%;
}

.no-button:hover {
  color: #065b83;
  text-decoration: underline;
}

.dollar-amount {
  color: #056605;
  font-weight: bold;
  margin-left: -5px;
}


.card{
  display: flex;
  flex-wrap: wrap;
  border-radius: 6px;
  border: solid 4px;
}

body {
  background-image: url(https://browsecat.art/sites/default/files/food-pattern-background-127676-564564-7093829.png) ;

}

.site-title {
  font-family: Concert One;

}

.body-text{
  font-family: Cutive Mono;

}